/* Global Styles */

html{
    font-size: clamp(16px, 2vw, 20px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    color: #1e1f26;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Background */

body {
    background-color: #b393dd;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Off-White Container */

.app__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f8f7;
    width: 90vw;
    border-radius: 1rem;
    padding: 1.75rem 1rem;
    max-width: 34rem;
}

/* Header */

h1 {
    text-decoration: underline;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

/* Add and Edit Todo Components */

.AddTodo__form,
.EditTodo__form {
    display: flex;
    width: 95%;
    max-width: 26rem;
    justify-content: space-between;
    align-items: center;
}

input[type='text'] {
    flex-grow: 1;
    flex-shrink: 1;
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
    background-color: #d9d9d9;
    border-radius: 0.5rem;
    margin-right: 1rem;
    font-size: 0.9rem;
}

input[type='text']:hover {
    border:#1e1f26 1px solid;
}

.AddTodo__form__submit-button,
.EditTodo__form__submit-button {
    height: 2rem;
    max-width: 5rem;
    padding: 0 0.5rem;
    flex-grow: 1;
    flex-shrink: 2;
    background-color: #a85fdb;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.AddTodo__form__submit-button:hover,
.EditTodo__form__submit-button:hover {
    border:#1e1f26 1px solid;
}

.AddTodo__form__submit-button:active,
.EditTodo__form__submit-button:active {
    background-color: #7c3bbd; /* darker purple */
    transform: scale(0.98);    /* slight shrink effect */
    border:#1e1f26 2px solid;
}

.AddTodo__error-message,
.EditTodo__error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* TodoItem Component */

.TodoItem__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 26rem;
    background-color: #e2cbf6;
    min-height: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

p {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 20rem;
}

.TodoItem__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 5rem;
    flex: 1;
}

.TodoItem__buttons__small-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #1e1f26;
    height: 1.5rem;
    width: 1.5rem;
}

.TodoItem__buttons__small-button:hover {
    background-color: #d9d9d9;
    border-radius: 0.25rem;
}

.TodoItem__buttons__small-button:active {
    background-color: #b0b0b0; /* darker gray */
    transform: scale(0.98);    /* slight shrink effect */
}

/* Clear button */

.app__container__clear-button {
    height: 1.25rem;
    margin-top: 1rem;
    padding: 0 0.25rem;
    background-color: #d9d9d9;
    font-size: 0.75rem;
    color: grey;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.app__container__clear-button:hover {
    border:#1e1f26 1px solid;
}

.app__container__clear-button:active{
    transform: scale(0.98);
    border:#1e1f26 2px solid;
    background-color: #b0b0b0;
    color: white;
}

/* Completed Component */

.Completed__message {
    text-align: center;
    margin-top: 1rem;
}

h2 {
    font-size: 1.1rem;
}

.Completed__text {
    font-size: 0.85rem
}